<h1>Este es el index</h1>

<% @posts.each do |post| %>
    <div>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <%= link_to 'ver', posts_show_path(post.id) %>
        <%= link_to 'editar', posts_edit_path(post.id) %>
    </div>
<% end %>